<!-- HEADER -->

<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
      <ion-button disabled="true">
        <ion-icon slot="icon-only" name="kasim"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> <b>Ana Sayfa</b> </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
        <div class="green-badge"></div>
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
        <div class="red-badge"></div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- END HEADER -->
